.quizzfr__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quizzfr__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.st__quizz-word {
  width: 50%;
}

.btn-primary {
  background-color: var(--color-footer) !important;
  border: 1px solid white;
}

.quizzfr__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quizzfr__button button {
  width: 20%;
}

.quizzfr__media {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 0.5rem;
}

.quizzfr__media input {
  cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.quizzfr__img {
  width: 25rem;
  height: 15rem;
}

.media-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}


.quizzfr__media-img0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}
.quizzfr__media-img1 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}
.quizzfr__media-img2 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
.quizzfr__media-img3 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}



@media screen and (max-width: 650px) {
  .quizzfr__media {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .quizzfr__media-img0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
  }
  .quizzfr__media-img1 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }
  .quizzfr__media-img2 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
  }
  .quizzfr__media-img3 {
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
  }

  .quizzfr__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .st__quizz-word {
    width: 100%;
  }

}
