.st__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 2rem 6rem;
}

.st__navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st__navbar-links_logo {
  margin-right: 2rem;
  width: 27%;


}

.st__navbar-links_logo h1,
i {
  color: #fff;
}

.st__navbar-links_container {
  flex: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.st__navbar-links_container p,
.st__navbar-links_container .nav-item .nav-link,
.st__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.st__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.st__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.st__navbar-menu_container p {
  margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
  .st__navbar-links_container {
    display: none;
  }

  .st__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .st__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .st__navbar {
    padding: 2rem;
  }

  .st__navbar-sign {
    display: none;
  }

  .st__navbar-menu_container {
    top: 20px;
  }
}
