.st__lsfheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.st__lsfheader-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.st__lsfheader-image img {
  width: 100%;
  height: 100%;
}


.st__lsfheader-content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.st__lsfheader-content div {
  margin: 1rem auto;
  width: 50%; 
  background: rgba(129, 175, 221, 0.4);
  border-radius: 25px;
  color: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  text-align: center;

}

.st__lsfheader-content button {
  width: 15%;
  min-height: 73px;
  background: #ff4820;
  border: 2px solid #ff4820;
  padding: 0 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 15px;

}

.random-icon {
  font-size: 50px;
  color: #fff;
}

@media screen and (max-width: 1050px) {

  .st__lsfheader-content div {
    font-size: 48px; 
  }

  .st__lsfheader-content button {
    width: 15%;
    min-height: 63px;
  }

  .random-icon {
    font-size: 36px;
  }

}
@media screen and (max-width: 650px) {
  
  .st__lsfheader-content div {
    font-size: 36px; 
  }
  
  .st__lsfheader-content button {
    width: 15%;
    min-height: 43px;
  }

  .random-icon {
    font-size: 24px;
  }

}
@media screen and (max-width: 490px) {

  .st__lsfheader-content div {
    font-size: 24px; 
  }

  .st__lsfheader-content button {
    width: 25%;
    min-height: 32px;
  }

  .random-icon {
    font-size: 18px;
  }
  
}
  
